 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>A question to consider... Are you willing to join us in this journey? Whisper to yourself... I am not afraid. Into the darkness... I will go ahead and find a way. Do not feel loneliness. Now Stand up! Shout! Let out your Passionate Voice! Louder! And don’t look back! Are you ready to join us in this journey? A journey for ... keycaps. Now... I ask you this question... Are you fully devoted?</p>
                </div>
                <div class="col-lg-4">
                    <p>This set was inspired by the band, Roselia. Based on the series BanG Dream! A media franchise that has an anime, concerts, music and a mobile rhythm game. Roselia is known for their gothic inspired designs, their colorful characters and their powerful music. The color scheme is based on the logo's gradient and the band's official color. The colors have been matched physically with a RAL book with official merch. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://geekhack.org/index.php?topic=107509.0" class="btn btn-lg btn-outline">
                        Click here to check out the GH Thread
                    </a>
                </div>
            </div>
        </div>
    </section>
